Repository d4l-data4life/hc-objc-util-sdk-kmp, changes with the labels that .github/labeler.yml gives for each.
All labels: build, dependencies, documentation, objc-util-library

Clean up
  objc-util/build.gradle.kts
Labels: objc-util-library

Clean up gitignore
  .gitignore
Labels: none

Changes repo everywhere
  .gitignore
  CHANGELOG.adoc
  README.adoc
  buildSrc/src/main/kotlin/LibraryConfig.kt
  settings.gradle.kts
Labels: dependencies, documentation

Fix Platform badge
  assets/images/badge-platform-support.svg
  assets/images/badges.adoc
Labels: none

Add codestyles
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/vcs.xml
Labels: none

Use cloud runner
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
Labels: build

Removes unused readme
  README.md
Labels: none

Removed xml from repo
  .idea/compiler.xml
Labels: none

Use latest Publish version
  .github/workflows/d4l-ci-publish-release.yml
  .github/workflows/d4l-ci-pull-request-validation.yml
  buildSrc/src/main/kotlin/scripts/publishing-config.gradle.kts
  buildSrc/src/main/kotlin/scripts/publishing.gradle.kts
Labels: build, dependencies

Fix package name
  buildSrc/src/main/kotlin/scripts/publishing.gradle.kts
Labels: dependencies

Update latest Version
  .github/workflows/d4l-ci-latest-version.yml
Labels: build

Adapt latest project structure
  .idea/compiler.xml
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/GradlePlugins.kt
  buildSrc/src/main/kotlin/care/data4life/sdk/util/objc/LibraryConfig.kt
  buildSrc/src/main/kotlin/care/data4life/sdk/util/objc/dependency-updates.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/util/objc/download-scripts.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/util/objc/publishing-config.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/util/objc/publishing.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/util/objc/quality-spotless.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/util/objc/versioning.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  gradlePlugin/objc-util-dependency/build.gradle.kts
  gradlePlugin/objc-util-dependency/src/main/kotlin/care/data4life/sdk/util/objc/dependency/Dependency.kt
  gradlePlugin/objc-util-dependency/src/main/kotlin/care/data4life/sdk/util/objc/dependency/DependencyPlugin.kt
  gradlePlugin/objc-util-dependency/src/main/kotlin/care/data4life/sdk/util/objc/dependency/GradlePlugin.kt
  gradlePlugin/objc-util-dependency/src/main/kotlin/care/data4life/sdk/util/objc/dependency/Version.kt
  objc-util/build.gradle.kts
  objc-util/src/iosMain/kotlin/care/data4life/sdk/util/objc/NSDataMapper.kt
  objc-util/src/iosMain/kotlin/care/data4life/sdk/util/objc/NSErrorFactory.kt
  objc-util/src/iosTest/kotlin/care/data4life/sdk/util/objc/NSDataMapperTest.kt
  objc-util/src/iosTest/kotlin/care/data4life/sdk/util/objc/NSErrorFactoryTest.kt
  settings.gradle.kts
Labels: dependencies, objc-util-library

Clean LibrayConfig
  buildSrc/src/main/kotlin/care/data4life/sdk/util/objc/LibraryConfig.kt
Labels: dependencies

Cleanup names
  gradlePlugin/objc-util-dependency/src/main/kotlin/care/data4life/sdk/util/objc/dependency/GradlePlugin.kt
  gradlePlugin/objc-util-dependency/src/main/kotlin/care/data4life/sdk/util/objc/dependency/Version.kt
Labels: none

Update comments
  buildSrc/src/main/kotlin/care/data4life/sdk/util/objc/publishing-config.gradle.kts
  buildSrc/src/main/kotlin/care/data4life/sdk/util/objc/publishing.gradle.kts
Labels: dependencies

.github/labeler.yml:

build:
  - .github/**/*

dependencies:
  - buildSrc/**/*

documentation:
  - docs/**/*
  - sdk-doc/**/*
  - README.adoc
  - LICENSE
  - CHANGELOG.adoc
  - CODE-OF-CONDUCT.adoc
  - CONTRIBUTION.adoc
  - readmeOSS.adoc

# Platform
objc-util-library:
  - objc-util/**/*
